h1 {
    text-align: center;
    color: black;
}

#calculator {
    width: 300px;
    height: 530px;
    border: 3px solid black;
    text-align: center;
    background: black;
    margin: 30px auto;
}

#display {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    text-align: right;
    font: 20px bold;
    color: black;
    font-weight: bold;
    font-size: xx-large;
}

#button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

#button:hover {
    background: grey;
    font-weight: bold;
}

#button2 {
    width: 115px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

#button2:hover {
    background: grey;
    font-weight: bold;
}